<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/fomantic-ui/semantic.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main.min.css" rel="stylesheet" />
</head>
<body>
    @await Component.InvokeAsync("Header")


    <div class="pusher">
        @RenderBody()
    </div>
    @await Component.InvokeAsync("Footer")
    @await Html.PartialAsync("Footer")
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/fomantic-ui/semantic.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
